extends layout

block content
  h1 Ramakrishna's First API
  p Welcome to the timestamp microservice!
  br
  br
  p.textc Input format : - 
  code localhost:3000/June 21, 2017
  br
  code localhost:3000/1897654321
  br
  p.textc Output will be in JSON

